main{
    display: flex;
}


.left_main{
    width: 50%;
}
.right_main{
    width: 50%;
    background-color: #fff;
    border-left: solid 1px #c9c9c9;
}

h2{
    margin-top: 20px;
    margin-bottom: 3px;
}
h3{
    margin-top: 5px;
    margin-bottom: 3px;
}

/* 編集画面 */
.bonus{
    width: 40px;
}
.stop_status{
    width: 40px;
    margin-left: 5px;
}
.next_button{
    margin: 5px;
}

table {
    border-collapse: collapse;
    font-size: 65%;
    text-align: center;
}
table th, table td {
    border: solid 1px black;
}
.table_config{
    background-color: #ff8c00;
    font-weight: 800;
}

#s_result{
    margin: 0 20px;
    color: red;
}

.result{
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
}

.comment{
    font-size: 60%;
    padding-left: 10px;
}